# питоон
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec.bak

# PyInstaller
*.manifest
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Project-specific (not for the repo)
scan_ips.py
scan.txt
AyuGramDesktop-dev/
tweb-master/
/icon.icns
